.comment-input {
	display: flex;
	gap: 10px;
	max-height: 100px;
	align-items: center;
	padding: 10px 0;
}

.text-area {
	width: 100%;
	padding: 5px;
}

.comment-button {
	background-color: cornflowerblue;
	border-radius: 5px;
	border: none;
	box-sizing: border-box;
	padding: 5px;
	color: #fff;
	min-width: 100px;
}

.comment-container {
	padding: 20px;
	border: solid 1px #ccc;
	border-bottom: none;
}

.comment-container:last-child {
	border-bottom: solid 1px #ccc;
}

.comment-body {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.button-container {
	display: flex;
	gap: 10px;
	padding: 10px 0;
}

.sort-by {
	margin: 10px 0;
}