.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.container {
  display: grid;
}

.container__item {
  width: 60px;
  height: 60px;
  border: solid 1px #ddd;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}